---
Checks: '-*,cppcoreguidelines-*,bugprone-*,clang-analyzer-*,modernize-*,performance-*,readbility-*'
HeaderFilterRegex: '.*'
WarningsAsErrors: true
FormatStyle: file
CheckOptions:
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
